[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	re = restore
	ls = log --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = Dino Source
	email = dinosource.cpp@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = master
[clone]
	defaultRemoteName = origin
[pull]
	ff = only
